body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEEEEE;

    background: 
        linear-gradient(rgba(34, 40, 49, 0.85), rgba(34, 40, 49, 0.85)),
        url("/resources/Fundo.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#group-container {
    display: grid;
    justify-content: center;
    margin-top: 25vh;
}

.button-container {
    --margin: 3vh;
    margin-right: var(--margin);
    margin-left: var(--margin);
}

.home-buttons {
    background-color: antiquewhite;
    height: 30vh;
    width: 40vh;
}