body {
    background-color: grey;
    width: 99%;
}

#group-container {
    display: grid;
    justify-content: center;
    margin-top: 25vh;
}

.button-container {
    --margin: 3vh;
    margin-right: var(--margin);
    margin-left: var(--margin);
}

.home-buttons {
    background-color: antiquewhite;
    height: 30vh;
    width: 40vh;
}