body {
    background-color: grey;
    width: 100%;
}

#login-container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

#login-background {
    background-color: antiquewhite;
    width: 600px;
    height: 350px;
    position: absolute;
}

.login-items {
    width: 300px;
    height: 20px;
}

#login-id {
    margin-top: 50px;
}

#login-password {
    margin-top: 150px;
}

#login-credentials-container {
    display: flex;
    position: absolute;
    padding-top: 60px;
    margin-left: -150px;
}